

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet'>
    <script
    src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"
    data-search-pseudo-elements></script>
    <link rel="stylesheet" type="text/css" href='/stylesheets/departmentPage.css'>

    
<!------ Include the above in your HEAD tag ---------->
</head>
<body style="background: url('../img/departmentBackground.jpg') no-repeat center fixed; background-size: cover;">
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#">Choose a department</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">FAQ
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container list-group p-0 border border-dark rounded">

            <a class="list-group-item">
                <form class="form-inline md-form form-sm mt-0">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search"
                    aria-label="Search">
                </form>
            </a>

            <ul class="list-group text-center" id="myUL">
                <li class="list-group-item"><a href="#" class="btn">Computer Science and Mathematics<i class="fas fa-arrow-right p-1"></i></a></li>
                <li class="list-group-item"><a href="#" class="btn">Law<i class="fas fa-arrow-right p-1"></i></a></li>
                <li class="list-group-item"><a href="#" class="btn">Engineering<i class="fas fa-arrow-right p-1"></i></a></li>
                <li class="list-group-item"><a href="#" class="btn">Biology<i class="fas fa-arrow-right p-1"></i></a></li>
                <li class="list-group-item"><a href="#" class="btn">Physics and Applied Sciences<i class="fas fa-arrow-right p-1"></i></a></li>

            </ul>
    </div>

</script>

<script>

function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  // get input field   
  input = document.getElementById('myInput');
  // get input value
  filter = input.value.toUpperCase();
  // get ul (unordered list)
  ul = document.getElementById("myUL");
  // get all li elements
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    // get first tag's contents  
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
        // display that li
      li[i].style.display = "";
    } else {
        // dont display that li
      li[i].style.display = "none";
    }
  }
}


</script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>

