

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href='/stylesheets/login.css'>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

    <div class="navbar navbar-inverse bg-dark navbar-fixed-top">
        <div class="container-fluid">
            <!-- ml auto - puts button on right side -->
            <ul class="nav navbar-nav ml-auto">
                <form action="/login">
                    <button class="btn btn-small btn-outline-light" type="button">FAQ</button>
                </form>
            </ul>
        </div>
    </div>

    <div class="container list-group pt-4">

            <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark ml-auto"  type="submit">Search</button>
                  </form>
            </a>

            <ul class="list-group list-group-flush list-group-item ">
                <li class="list-group-item list-group-item-action">Computer Science and Mathematics</li>
                <li class="list-group-item list-group-item-action">Biology</li>
                <li class="list-group-item list-group-item-action">Law</li>
                <li class="list-group-item list-group-item-action">Engineering</li>
                <li class="list-group-item list-group-item-action">Sports Psychology</li>
              </ul>

    </div>

</script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    </body>
</html>

