

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
    src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"
    data-search-pseudo-elements></script>
    <!-- <link rel="stylesheet" type="text/css" href='/stylesheets/departmentPage.css'> -->
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#">Back</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Log out
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
            <caption class="text-center">Department table</caption>
            <thead>
              <tr>
                <th>Department</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Computer Science and Mathematics</td>
              </tr>
            </tbody>
          </table>
        </div><!--end of .table-responsive-->
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
                <caption class="text-center">Clue table</caption>
              <thead>
                <tr>
                  <th>Clue</th>
                  <th>Information</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Near the black fence by the lake</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Near the black fence by the lake</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Near the black fence by the lake</td>
                </tr>
              </tbody>
            </table>
          </div><!--end of .table-responsive-->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
              <caption class="text-center">Extra info table</caption>
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Languages</th>
                  <th>Population</th>
                  <th>Median Age</th>
                  <th>Area (Km²)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Argentina</td>
                  <td>Spanish (official), English, Italian, German, French</td>
                  <td>41,803,125</td>
                  <td>31.3</td>
                  <td>2,780,387</td>
                </tr>
                <tr>
                  <td>Australia</td>
                  <td>English 79%, native and other languages</td>
                  <td>23,630,169</td>
                  <td>37.3</td>
                  <td>7,739,983</td>
                </tr>
                <tr>
                  <td>Greece</td>
                  <td>Greek 99% (official), English, French</td>
                  <td>11,128,404</td>
                  <td>43.2</td>
                  <td>131,956</td>
                </tr>
              </tbody>
            </table>
          </div><!--end of .table-responsive-->
        </div>
      </div>
  </div>
    


<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>

