body {
  font-family: 'treasure', sans-serif;
  font-size:13px;
  /* background-color: black; */
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


@font-face {
  font-family: 'pirate';
  src: url('../../treasuremapdeadhand-yla3-webfont.woff2') format('woff2'),
          url('../../treasuremapdeadhand-yla3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'treasure';
    src: url('../../booter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#textsize {
  text-shadow: 0 0 20px black;
  /* font-size: 1.38rem; */
  font-size: 4vw;
  width: 100%;
  overflow: scroll;
}

#pirate {

  width: 50vw;
  max-width: 350px;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto; */
}

h2 {
  max-height: 70%;
  max-width: 70%;
}

.box {
  width: 40%;
  margin: 0 auto;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid black;
  text-decoration: none;
  cursor: pointers;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* this is the overlay that covers the whole screen */
  background: rgba(104, 78, 22, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  /* padding: 20px; */
  background: #fff;
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: transparent;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  max-height: 60%;
  height: 50%;
  overflow: auto;

}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/* @media screen and (max-height: 630px){

  #textsize {
    font-size: large;
  }
} */
