@font-face {
  font-family: 'skull';
  src: url('../../skullsandcrossbones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$dark-blue: #2c3e50;
$ligh-grey: #ecf0f1;

html, body {
  height: 100%;
  margin: 0;
}

tr {
  color:white;
}

h1 {
  color:white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: white;
  font-family: 'skull';
  text-shadow: 2px 2px black;
  line-height: 1.4;
}

a {
  display: inline-block;
}

.button {
  margin: 0 auto 20px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  clear: both;
  padding: 10px;
  background-color: rgba($ligh-grey, .3);
  cursor: pointer;
}

.screen {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-intro {
  opacity: 1;
  visibility: visible;
}
