@import "bourbon";

@import url('//fonts.googleapis.com/css?family=Raleway:400,800');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');



body {
    animation-name: test;
    animation-duration: 2s;
}

#map {
    height: 100vh;
    width: 100vw;
}




/* keyframe animations for entire body */
@keyframes test {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

tbody {
    text-align: center;
}

tr {
    text-align: center;
}

td {
    text-align: center;
}

/* two classes same style (.class1, .class2) */
.adp-directions, .adp-summary {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    
}


.arrow-wrap {
    position: relative;
    z-index:1;
    /* horizontal centering */
    left:50%;
    /* so its not fully in the first div */
    top:-5em;
    margin-left:-5em;
    background:#111;
    /* size of the circle */
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    /* scaling font size (of the actual arrow) */
    font-size:0.5em;
    display:block;
}

.arrow {

    float:left;
    position:relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

.arrow:after {
    content:'';
    position:absolute;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}
/* moz support */
@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:15%; }
    20% { top:0; }
    30% { top:15%; }
    40% { top:0%; }
    50% { top:15%; }
    60% { top:0; }
    70% { top:15%; }
    80% { top:0%; }
    90% { top:15%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s infinite;
    -webkit-animation-delay: 2s;
}


/* for the clue tab */

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
}

.person {
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    box-shadow: 4px 4px grey;

/* ;==========================================
; Title:  Front end Main Page (clue page) - CSS
; Author: William Wallitt
; Date:   25 Feb 2020
;==========================================  */

.person:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px grey;
}


#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}


#float {
    position: fixed; bottom: 20px; right: 20px;
}