body {
    animation-name: test;
    animation-duration: 2s;
}

#map {
    height: 100vh;
    width: 100vw;
}




/* keyframe animations for entire body */
@keyframes test {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

tbody {
    text-align: center;
}

tr {
    text-align: center;
}

td {
    text-align: center;
}

/* two classes same style (.class1, .class2) */
.adp-directions, .adp-summary {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    
}

