body {
    animation-name: test;
    animation-duration: 2s;
}

#map {
    height: 100vh;
    width: 100vw;
}


/* keyframe animations for entire body */
@keyframes test {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* breakpoints */

