/* ;==========================================
; Title:  Front end Modify Page - CSS
; Author: William Wallitt
; Date:   12 Mar 2020
;==========================================  */
.nav-pills .nav-link.active {

    background-color: black;
    color: white;

}

a {

    color: black;
    background-color: transparent;

}

a:hover {

    color: black;

}


